.env

data/*
tmp/*


scripts/raw_extractor.py
scripts/__pycache__/*
src/preprocessing/__pycache__/*
src/training/__pycache__/*
src/utils/__pycache__/*
src/augmentation/__pycache__/*
src/data/__pycache__/*
tests/__pycache__/*
src/models/backbones/__pycache__/*
__pycache__/*

urls.json
urls_full.json

tests.ipynb
test_run.py

paths.txt
